@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&family=Trispace&family=Urbanist:wght@600&display=swap')

html {
    font-size: 16px;
}

body {
    background-image: url(../img/background4.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto; 
    font-family: 'Urbanist', sans-serif; 
    line-height: 1.5;
    color: black;
    max-width: 87.5em;
    margin: 5rem auto; 
}


header { 
    display: flex;
    align-items:center;
    justify-content:space-between;
    font-family: 'Trispace', sans-serif;
    margin: 0 2rem;  
}

nav {
    display: flex;
    align-items:center;
    justify-content:space-between;
    grid-column:1/12;
    font-family: 'Urbanist', sans-serif;
}

nav h1:hover { 
    color: orangered;
    border-bottom: 2px solid orangered;
}

main {
    max-width: 87.5rem;
    margin: 5rem auto; 
}

#splash { 
    position: fixed;
    top: 15rem; 
    left: 35rem; 
    margin: auto;
}

section {
    display: grid; 
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 2em;
    grid-auto-flow: dense;
    margin: 3em auto;
}

footer {
    width: 75%;
    margin:auto;
    display: flex;
    align-items:center;
    justify-content:space-between; 
    padding-top: 10rem; 
} 

h1 {
    font-family: 'Urbanist', sans-serif; 
    color: black; 
    font-size: 2rem;
    font-weight: 700; 
    font-style: normal; 
}

h2 {
    font-family: 'Urbanist', sans-serif; 
    color: black; 
    font-size: 3rem; 
}

nav, a {
    color: black; 
    text-decoration: none;
    margin: 0 0 0 2rem; 
}


footer a {
    margin: 0; 
}

footer a:hover {
    margin: 0; 
    color: orangered;
    border-bottom: 2px solid orangered;
}

#subline { 
    grid-column: 3/11;
}

#tagline {
    grid-column: 3/12;
}

#project_1 {
    grid-column: 1/6;
}

#description_1 {
    grid-column: 7/10;
    padding-top: 5rem;
}

#description_1:hover h3 {
    margin: 0; 
    color: orangered;
}

#project_2 {
    grid-column: 7/13;
}

#description_2 {
    grid-column: 4/7;
}

#description_2:hover h3 {
    margin: 0; 
    color: orangered;
}

#project_3 {
    grid-column: 3/6;
}

#description_3 {
   grid-column: 8/11; 
   padding-top: 5rem; 
}

#description_3:hover h3 {
    margin: 0; 
    color: orangered;
}

#project_4 {
    grid-column: 7/13;
}

#description_4 {
    grid-column: 4/7; 
}

#description_4:hover h3 {
    margin: 0; 
    color: orangered;
}

#project_5 {
    grid-column: 1/7;
}

#description_5 {
    grid-column: 7/10; 
}

#description_5:hover h3 {
    margin: 0; 
    color: orangered;
}

#project_6 {
    grid-column: 7/10;
}

#description_6 {
    grid-column: 3/6; 
}

#description_6:hover h3 {
    margin: 0; 
    color: orangered;
}

#date_1 {
    grid-column: 2/4;
    border: solid 10px; 
    border-width: 3px 10px 12px 4px;
    padding-left: 25px;
    background-color:aliceblue; 
}

#title_1 {
    grid-column: 4/12;
    border: solid 10px; 
    border-width: 3px 10px 12px 4px;
    padding-left: 25px;
    background-color: aliceblue;
}

#paragraph_1 {
    grid-column: 4/12;
    border: solid 10px;
    border-width: 3px 10px 12px 4px;
    padding-left: 25px;
    background-color: aliceblue; 
}

#aboutpic {
    grid-column: 2/5;
    width: 10rem; 
}

#abouthead {
    grid-column: 7/11;
    padding: 25px;
    border: solid 10px;
    border-width: 3px 10px 12px 4px;
    background-color:paleturquoise; 
    border-radius: 10px; 
}

#aboutp {
    grid-column: 8/12;
}

#date_2 {
    grid-column: 2/4;
    border: solid 10px; 
    border-width: 3px 10px 12px 4px;
    padding-left: 25px;
    background-color:#F5B9A6; 
}

#title_2 {
    grid-column: 4/12;
    border: solid 10px; 
    border-width: 3px 10px 12px 4px;
    padding-left: 25px;
    background-color: #F5B9A6;
}

#paragraph_2 {
    grid-column: 4/12;
    border: solid 10px;
    border-width: 3px 10px 12px 4px;
    padding-left: 25px;
    background-color: #F5B9A6; 
}

#date_3 {
    grid-column: 2/4;
    border: solid 10px; 
    border-width: 3px 10px 12px 4px;
    padding-left: 25px;
    background-color: bisque; 
}

#title_3 {
    grid-column: 4/12;
    border: solid 10px; 
    border-width: 3px 10px 12px 4px;
    padding-left: 25px;
    background-color: bisque;
}

#paragraph_3 {
    grid-column: 4/12;
    border: solid 10px;
    border-width: 3px 10px 12px 4px;
    padding-left: 25px;
    background-color: bisque; 
}

#img_3 {
    grid-column: 4/12;
    border: solid 10px;
    border-width: 3px 10px 12px 4px;
    background-color: bisque; 
}

#contact {
    grid-column: 5/9;
    border: solid 10px;
    border-width: 3px 10px 12px 4px;
    padding: 25px;
    background-color:paleturquoise; 
    border-radius: 10px; 
} 

#contactbox {
    grid-column: 5/9;
    border: solid 10px;
    border-width: 3px 10px 12px 4px;
    padding: 25px;
    background-color: silver; 
    border-radius: 10px;
}

#contactbox a:hover {
    margin: 0; 
    color: orangered;
    border-bottom: 2px solid orangered; 
}

#accordion {
    margin-left: 10rem;
}
 