@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&family=Trispace&display=swap'); 

html {
    font-size: 16rpx;
}

body {
    background-color:white;
    font-family: 'Trispace', sans-serif; 
    line-height: 1.5;
    color: #A1B9E2;
    max-width: 87.5rem;
    margin: 5rem auto; 
}

header { 
   
}

nav {
    display: flex;
    align-items:center;
    justify-content:space-between;
    grid-column:1/12;
}

main {
    max-width: 87.5rem;
    margin: 5rem auto; 
}

footer {
    width: 72rem;
    margin:auto;
    display: flex;
    align-items:center;
    justify-content:space-between;
}

h1 {
    font-family: 'GFS Didot', serif;
    color: #345BBD; 
    font-size: 2rem;
    font-weight: 700; 
    font-style: normal; 
}

a {
    color:#A1B9E2; 
    text-decoration: none;
    margin: 0 0 0 2rem; 
}

a:visited,
.selected { 
    color:#345BBD;
    border-bottom: 1px solid #345BBD;
}

#tagline {
    text-align: center; 
    grid-column: 2/11; 
} 

#project_1 {
    grid-column: 1/7; 
}

#description_1 {

}

#project_2 {
    grid-column: 7/12;
    grid-row: auto;
}

#description_2 {

}

#project_3 {

}

#description_3 {

}

#project_4 {

}

#description_4 {

}

#project_5 {

}

#description_5 {

}

#date_1 {
    grid-column:1/2; 
}

#title_1 {
    grid-column: 4/12;
}

